@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Bellota Text', cursive;
}
.body
{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
   background: #f2f3f7;
}
.hec
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 150px;
}
.hec .card
{
   width: 300px;
   height: 300px;
   padding: 50px 30px;
   margin: 30px;
   background: #1e2022;
   box-shadow: 0.6em 0.6em 1.2em rgb(43, 46, 48),
               -0.5em -0.5em 1em rgb(24, 26, 27);
   margin-bottom: 90px;
   border-radius: 20px;
}
.hec .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.hec .card .content .imgBx
{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;
   transform: translateY(-150px);
}
.hec .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.hec .card .content .contentBx h4
{
   color: #9c7de6;
   font-size: 1.5rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
   padding-bottom: 30px;
   transform: translateY(-150px);
}
.hec .card .content .contentBx p
{
   color: #6c758f;
   font-size: 1rem;
   font-weight: bold;
   text-align: center;
   padding-bottom: 10px;
   transform: translateY(-150px);
}
.hec .card .content .sci
{
   margin-top: 10px;
   padding-top: 10px;
   margin-bottom: 150px;
   transform: translateY(-150px);  
}
.hec .card .content .sci a
{
   text-decoration: none;
   color: #6c758f;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
   transform: translateY(-150px);
}
.hec .card .content .sci a:hover
{
   color: #0196e3;
}
/*   colors
        #f2f3f7
        #d2dce9
        #36187d
        #6c758f
        #0196e3
 */